{% extends 'layouts/base.html' %}

{% block    PageCSS %}
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<style>
body {font-family: "Times New Roman", Georgia, Serif;}
h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display";
  letter-spacing: 5px;
}
#imageID {
    height: 200px;
    width: 50%;
}
</style>
{% endblock PageCSS %}

{% block PageContent %}

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

<div class="container">

    <table class="table table-striped">
        <thead>
          <tr>
            <th></th>
            <th>Name</th>
            <th>Quantity</th>
            <th>Status</th>
            <th>Price</th>
            <th>Remarks</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
        {% for product in productList %}
          <tr>
            <td><img src="{{product.resImgUrl}}" width="70" height="70" ></td>
            <td>{{ product.name }}</td>
            <td>{{ product.quantity }}</td>
            {% if product.quantity < 10 %}
            <td><span style="color:red">LOW</span></td>
            {% else %}
            <td>NORMAL</td>
            {% endif %}
            <td>{{ product.price }}</td>
            <td>{{ product.remarks }}</td>
            <td><form action="/cart/add" method="POST">
                <input class="form-control" type="hidden" id="prodName" name="prodName" value="{{ product.name }}">
                
                <button type="submit" class="btn btn-block btn-primary btn-circle btn-icon-left">
                    <i class="fa fa-shopping-cart"></i>Add to cart
                </button>
            </form></td>
    {% endfor %}
    </table>
                        

                        <!-- <div class="product-buttons mt-4">
                            <div class="row align-items-center">

                                <div class="col-8">
                                    <form action="/cart/add" method="POST">
                                        <input class="form-control" type="hidden" id="prodName" name="prodName" value="{{ i.name }}">
                                        
                                        <button type="submit" class="btn btn-block btn-primary btn-circle btn-icon-left">
                                            <i class="fa fa-shopping-cart"></i>Add to cart
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock PageContent %}