
    <nav class="navbar navbar-expand-sm navbar-dark bg-secondary mb-3">
        <div class="container">

    <!-- Brand -->
    <a class="navbar-brand" href="/">Orchard Hotel - Catering</a>
  
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
				  aria-expanded="false"
				  aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
        <div class="collapse navbar-collapse" id="navbarNav">
    <!-- Links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
  
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
          Menu & Products
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="/product/view">View Menu</a>
          <a class="dropdown-item" href="/product/create">Create Menu</a>
          <a class="dropdown-item" href="/product/low">Low quantity product list</a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
          Supplier & Orders
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="/orders/create">Create Orders</a>
          <a class="dropdown-item" href="/orders/viewFeedback">View Orders</a>
        </div>
      </li>
  
      <!-- Dropdown -->
  
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
          Customers
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="/retrieveUsers">Update customer information</a>
          <a class="dropdown-item" href="/retrieveStaff">Delete customer account</a>
        </div>
      </li>
  
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">Feedback</a>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="/feedback/feedback">Submit Feedback</a>
            <a class="dropdown-item" href="/feedback/viewFeedback">View Feedback</a>
        </div>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">Cart</a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="/cart">Create Cart</a>
        <a class="dropdown-item" href="/cart/view">View Cart</a>
      </div>
    </li>
</ul>

<ul class="navbar-nav ml-auto">
    {% if user %}
    <li class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown"
            id="navbarDropdownMenuLink">Video
            Jots</a>
        <div class="dropdown-menu">
            <a href="/video/list" class="dropdown-item">Videos</a>
            <a href="/video/add" class="dropdown-item">Add Video</a>
        </div>
    </li>
    <li class="nav-item">
        <a href="/auth/logout" class="nav-link">Logout</a>
    </li>
    {% else %}
    <li class="nav-item">
        {#-- main.js router(/login) #}
        <a href="/auth/login" class="nav-link">Login</a>
    </li>
    <li class="nav-item">
        <a href="/auth/register" class="nav-link">Register</a>
    </li>
    {% endif %}
</ul>
</div>
</div>
</nav>