{% extends "base.html" %}
{% block title %}Library Loan System - Contact Us{% endblock %}
{% block navbar %}
        {% include 'includes/_Homenavbar.html' %}
    {% endblock %}
{% block content %}
<h1 class="display-4">Contact Us</h1>
<!-- Nav tabs -->
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" href="#DIT">DIT</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#DBA">DBA</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#DCS">DCS</a>
  </li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane container-fluid active" id="DIT">
    <br>
    <h2>IT1166 App Development Project</h2>
    <br>

       <table class="table table-striped">
     <thead>
      <tr>
       <th>Name</th>
       <th>Role</th>
       <th>Email</th>
      </tr>
     </thead>
           <tbody>
        <tr>
          <td>Mr. Chai Min Shiung</td>
          <td>Module Leader</td>
          <td><a href="mailto:chai_min_shiung@nyp.edu.sg">
chai_min_shiung@nyp.edu.sg</a></td>
        </tr>
        <tr>
          <td>Mr. Loo Kit Fan</td>
          <td>Module Tutor</td>
          <td><a href="mailto:loo_kit_fan@nyp.edu.sg">
loo_kit_fan@nyp.edu.sg</a></td>
        </tr>
        <tr>
        <td>Mr. Andrea Chua</td>
          <td>Module Tutor</td>
          <td><a href="mailto:andrea_chua@nyp.edu.sg">
andrea_chua@nyp.edu.sg</a></td>
        </tr>
        <tr>
          <td>Ms. Tan Sew Lan</td>
          <td>Module Tutor</td>
          <td><a href="mailto:TAN_SEW_LAN@myaccount.nyp.edu.sg">
TAN_SEW_LAN@myaccount.nyp.edu.sg</a></td>
        </tr>
        <tr>
          <td>Ms. Charissa Chua</td>
          <td>Module Tutor</td>
          <td><a href="mailto:charissachua@hotmail.com">
charissachua@hotmail.com</a></td>
        </tr>
      </tbody>
       </table>
  </div>

  <div class="tab-pane container-fluid fade" id="DBA">
    <br>
    <h2>IT1366 App Development Project</h2>
    <br>
       <table class="table table-striped">
     <thead>
      <tr>
       <th>Name</th>
       <th>Role</th>
       <th>Email</th>
      </tr>
     </thead>
     <tbody>
        <tr>
          <td>Mr. Alvin Tay</td>
          <td>Module Leader</td>
          <td><a href="mailto:alvin_tay@nyp.edu.sg">
alvin_tay@nyp.edu.sg</a></td>
        </tr>
        <tr>
          <td>Ms. Verawaty</td>
          <td>Module Tutor</td>
          <td><a href="mailto:verawaty@nyp.edu.sg">
verawaty@nyp.edu.sg</a></td>
        </tr>
      </tbody>
       </table>

  </div>

  <div class="tab-pane container-fluid fade" id="DCS">
    <br>
    <h2>IT1666 App Development Project</h2>
    <br>
<table class="table table-striped">
     <thead>
      <tr>
       <th>Name</th>
       <th>Role</th>
       <th>Email</th>
      </tr>
     </thead>
     <tbody>
        <tr>
          <td>Ms. Andrea Tan</td>
          <td>Module Leader</td>
          <td><a href="mailto:andrea_tan@nyp.edu.sg">
andrea_tan@nyp.edu.sg</a></td>
        </tr>
        <tr>
          <td>Ms. Tan Sew Lan</td>
          <td>Module Tutor</td>
          <td><a href="mailto:TAN_SEW_LAN@myaccount.nyp.edu.sg">
TAN_SEW_LAN@myaccount.nyp.edu.sg</a></td>
        </tr>
        <tr>
        <td>Mr. Teh Ah Hock</td>
          <td>Module Tutor</td>
          <td><a href="mailto:teh_ah_hock@nyp.edu.sg">
teh_ah_hock@nyp.edu.sg</a></td>
        </tr>
      </tbody>
       </table>
  </div>
</div>
{% endblock %}
