{% extends "layouts/base.html" %}
{% block title %}xhotel - Create Form{% endblock %}

{% block PageContent %}
<h1>Products</h1>
<br>
<form method = "post" action="/product/create">
  <div class="form-group">
    <label for="file">File</label>
    <input type="file" " id="file" name="file" accept="image/png,
    image/jpeg,image/jpg,image/gif class="form-control-file"  required>
  </div>
  <div class="form-group">
    <label for="name">Name</label>
    <input type="name" name="name" class="form-control" required>
  </div>
  <div class="form-group">
    <label for="quantity">Quantity</label>
    <input type="quantity" name="quantity" class="form-control"  required>
  </div>
  <div class="form-group">
    <label for="price">Price</label>
    <input type="price" name="price" class="form-control"  required>
  </div>
  <div id="prof">
    <div class="form-group">
      <label for="remarks">Remarks</label>
      <input type="remarks" name="remarks" class="form-control">
    </div>
  </div>
  <input type="submit" value="Submit" class="btn btn-primary"/>
</form>
{% endblock PageContent %}

