{% extends "layouts/base.html" %}
{% block title %}xhotel - Retrieve Low Quantity Products{% endblock %}

{% block PageContent %}

<div>
<h1 class="display-4">Menu (staff view)</h1>
<br>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Sort By
        </a>
        <div class="dropdown-menu">
        <a class="dropdown-item" href="/products/sortBy/low_to_high">Quantity: low to high</a>
        <a class="dropdown-item" href="/products/sortBy/high_to_low">Quantity: high to low</a>
        </div>
        
      </li>
    </ul>
  </div>
  <div class="search-container justify-content-right" >
    <form action="/product/search" method="POST">
      <input type="text" placeholder="Search.." name="search">
      <button type="submit"><i class="fa fa-search"></i></button>
    </form>
  </div>
  </nav>
<br>
  <table class="table table-striped">
    <thead>
      <tr>
        <th></th>
        <th>Name</th>
        <th>Quantity</th>
        <th>Status</th>
        <th>Price</th>
        <th>Remarks</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    {% for product in productList %}
      <tr>
        <td><img src="{{product.resImgUrl}}" width="70" height="70" ></td>
        <td>{{ product.name }}</td>
        <td>{{ product.quantity }}</td>
        {% if product.quantity < 10 %}
        <td><span style="color:red">LOW</span></td>
        {% else %}
        <td>NORMAL</td>
        {% endif %}
        <td>{{ product.price }}</td>
        <td>{{ product.remarks }}</td>
        <td><a href="/orders/create/?prodName={{product.name}}" class="btn btn-success">Order</a></td>
{% endfor %}
</tbody>
</table>
</div>
{% endblock %}