{% extends "layouts/base.html" %}
{% block title %}xhotel - View Orders Form{% endblock %}

{% block PageContent %}

<div class="container">
  <h2>Orders</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Order ID</th>
        <th>Product ID</th>
        <th>Product Name</th>
        <th>Quantity</th>
        <th>Supplier</th>
        <th>Time</th>
        <th>Date</th>
        <th>Method</th>

      </tr>
    </thead>
    <tbody>
      {%for orders in ordlist%}
      <tr>
        <td>{{orders.orderID}}</td>
        <td>{{orders.prodID}}</td>
        <td>{{orders.prodName}}</td>
        <td>{{orders.quantity}}</td>
        <td>{{orders.supp}}</td>
        <td>{{orders.time}}</td>
        <td>{{orders.bdate}}</td>
        <td>{{orders.metod}}</td>
      </tr>
      {%endfor%}
    </tbody>
  </table>
</div>

</body>
</html>

{% endblock PageContent %}
