{% extends "base.html" %}
{% block title %}World's First Class -- X Hotel - Home{% endblock %}

{% block content %}
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
  body {
    font-family: "Times New Roman", Georgia, Serif;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Playfair Display";
    letter-spacing: 5px;
  }
</style>

<body>
  <!-- About Section -->
  <div class="w3-row w3-padding-64" id="about">
    <div class="w3-col m6 w3-padding-large w3-hide-small">
      <img src="/static/img/catering2.jpg" class="w3-round w3-image w3-opacity-min" alt="Catering image" width="100%"
        height="700">
    </div>

    <div class="w3-col m6 w3-padding-large">
      <h1 class="w3-center">About Us</h1>
      <h4 class="w3-center">Delivering hotel standard food to your doorstep</h4>
      <br>
      <h5>We take on every event with a passionate heart and a spirit of excellence,
        be it an intimate dinner or a large-scale catering event.</h5>
      <h5>Share with us your vision and we will make it happen for you!</h5>
      <br>
      <h5 class="w3-center">Order <a href="CustomerRetrieveProducts">here!</a></h5>
    </div>
  </div>

  <!-- Contact Section -->
  <div class="w3-container w3-padding-50" id="contact">
    <h1>Contact Us</h1><br>
    <h5 class="w3-text-blue-grey w3-large"><b>X Hotel, 42 Orchard St, 43043 Singapore</b></h5>
    <h5>You can also contact us by phone 6234 5678 or email catering@xhotel.com</h5>
  </div>
</body>
{% endblock %}