{% extends "layouts/base.html" %}
{% block title %}xhotel - View Feedback Form{% endblock %}

{% block PageContent %}

<div class="container">
  <h2>Feedbacks</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Rate</th>
        <th>Satisfied</th>
        <th>Timeliness</th>
        <th>Support</th>
        <th>Recommend</th>
        <th>Comments (if any)</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      {%for feedbacks in rates%}
      <tr>
        <td>{{feedbacks.rate}}</td>
        <td>{{feedbacks.satisfied}}</td>
        <td>{{feedbacks.timeliness}}</td>
        <td>{{feedbacks.support}}</td>
        <td>{{feedbacks.recommend}}</td>
        <td>{{feedbacks.comments}}</td>
        <td>{{feedbacks.email}}</td>
      </tr>
      {%endfor%}
    </tbody>
  </table>
</div>

</body>
</html>

{% endblock PageContent %}
